.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px #164863;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.container .title , .container nav {
  /* border: solid 1px grey; */
  padding: 0.5rem 0;
}

.container a {
  color: #164863;
  padding: 0.5rem 1.5rem;
}

a:hover {
  background-color: #DDF2FD;
}